<div class="main-container">
    <h2>Atualizar Usuario</h2>
    <hr>
    <br>

    <form class="form-horizontal" [formGroup]="patchUsuario" (submit)="updateUser()" #formDir="ngForm">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" formControlName="nome">

            <div *ngIf="nome.invalid && formDir.submitted" class="v-error">
                <p *ngIf="nome.errors?.['required']">O campo nome é obrigatório.</p>
            </div>
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="email">

            <div *ngIf="email.invalid && formDir.submitted" class="v-error">
                <p *ngIf="email.errors?.['required']">O campo email é obrigatório.</p>
            </div>
        </div>

        <div class="form-group">
            <label>Cpf</label>
            <input type="text" class="form-control" formControlName="cpf">

            <div *ngIf="cpf.invalid && formDir.submitted" class="v-error">
                <p *ngIf="cpf.errors?.['required']">O campo cpf é obrigatório.</p>
            </div>
        </div>

        <br>
        <button class="btn btn-darkb">Atualizar</button>
    </form>
</div>