<div class="main-container">

    <div class="text-center">
        <h1 class="display-4">Gerenciamento</h1>
    </div>
    <br> <br> <br>

    <div class="row">

        <div class="col-sm">
            <div class="card text-white bg-darkb mb-3">
                <div class="card-header"><strong>Filmes</strong></div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <a class="btn btn-lightb" [routerLink]="['/gerenciar-filmes']">Gerenciar</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card text-white bg-darkb mb-3">
                <div class="card-header"><strong>Locações</strong></div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <a class="btn btn-lightb" [routerLink]="['/gerenciar-locacoes']">Gerenciar</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card text-white bg-darkb mb-3">
                <div class="card-header"><strong>Usuarios</strong></div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <a class="btn btn-lightb" [routerLink]="['/listar-usuarios']">Gerenciar</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>