<div class="main-container">

    <h2>Usuarios</h2>
    <hr>

    <table class="table table-striped table-darkb">

        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Senha</th>
                <th scope="col">CPF</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>

        <tbody *ngFor="let usuarios of usuario | paginate: { itemsPerPage: 5, currentPage: p }">
            <!-- ngfor aqui -->
            <tr>
                <td>{{usuarios.nome}}</td>
                <td>{{usuarios.email}}</td>
                <td>*******</td>
                <td>{{usuarios.cpf}}</td>
                <td>
                    <a class="btn btn-info btn-sm" [routerLink]="['/editar-usuario', usuarios.id]">Editar</a>

                    <a class="btn btn-danger btn-sm" (click)="deleteUsuario(usuarios.id)">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-darkb" [routerLink]="['/registro']">Novo Usuario</a>
    <br> <br>

    <div class="pag-center">
        <pagination-controls (click)="onActivate($event)" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>